{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<main class="d-flex flex-column align-items-center">
    <h1 class="page-title" style="width: fit-content;">NSW Driver Log Book Utility</h1>
    <h3><span class="badge text-bg-info" style="width: fit-content; padding: 1.25rem; margin: 1.5rem;">Team Snack Overflow - Unihack 2026</span></h3>

    <div class="card" style="width: 24rem;">
        <div class="card-body">
            <h5 class="card-title">My Trips</h5>
            <p class="card-subtitle mb-2 text-body-secondary">View and create new trips</p>
            <a href="/log-book/" class="btn btn-secondary" style="margin-right: 0.5rem; margin-top: 0.5rem; margin-bottom: 0.5rem;">View Past Trips</a>
            <a href="/log-book/new" class="btn btn-primary">Start New Trip</a>
        </div>
    </div>

    <figure class="text-center fun-quote">
        <blockquote class="blockquote"></blockquote>
            <p>"Don't get caught drinking and driving."</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Healthy Harold <cite title="Source Title">2026</cite>
        </figcaption>
    </figure>

    <div class="feet-container">
        <span class="foot left-foot">Stay Safe!</span>
        <span class="foot right-foot">Better late than dead!</span>
    </div>
</main>
{% endblock %}
